/*
|--------------------------------------------------------------------------
| Plain English Colors
|--------------------------------------------------------------------------|
|
*/
$brand-blue: rgb(0, 118, 163);

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------|
|
*/
$f-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$f-serif: 'Georgia', serif;

/*
|--------------------------------------------------------------------------
| Foundation Sites 6
|--------------------------------------------------------------------------|
|
*/

// Import Foundation Utilities
@import  '~foundation-sites/scss/util/util';

// Customize Foundation's look and feel with our own variables
// anything not set here will use Foundation's default setting
//
// For all available settings see - /node_modules/foundation-sites/scss/settings/_settings.scss

// 1. Global
// ---------

$global-font-size: 20px;
$global-width: rem-calc(1400);
$global-lineheight: 1.6;
$foundation-palette: (
	'primary': $brand-blue,
	'secondary': #777,
	'success': #3adb76,
	'warning': #ffae00,
	'alert': #ec5840,
	'white': #fff,
	'twitter': #00aced,
	'facebook': #3b5998,
	'pinterest': #cb2027,
	'linkedin': #007bb6,
	'youtube': #bb0000,
	'instagram': #517fa4,
);
@include add-foundation-colors;

// Function to reference colors quickly is scss ex. color('black')
@function color($key) {
	@if map-has-key($foundation-palette, $key) {
		@return map-get($foundation-palette, $key);
	}
	@warn 'Unknown `#{$key}` in $foundation-palette.';
	@return null;
}

//$body-font-color: $charcoal;
$body-font-family: $f-sans;
$global-radius: 0px;


// 2. Breakpoints
// ------------------

/*
$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1200px,
  xlarge: 1440px,
  xxlarge: 1920px,
);
*/
$breakpoint-classes: (small medium large xlarge);


// 4. Base Typography
// ------------------

$header-font-weight: normal;
$header-font-style: normal;
$header-font-family: $f-serif;
$header-styles: (
	small: (
		'h1': ('font-size': 42),
		'h2': ('font-size': 38),
		'h3': ('font-size': 37),
		'h4': ('font-size': 35),
		'h5': ('font-size': 31),
		'h6': ('font-size': 31)
	),
	medium: (
		'h1': ('font-size': 38),
		'h2': ('font-size': 35),
		'h3': ('font-size': 28),
		'h4': ('font-size': 26),
		'h5': ('font-size': 21),
		'h6': ('font-size': 21)
	),
	large: (
		'h1': ('font-size': 66),
		'h2': ('font-size': 50),
		'h3': ('font-size': 31),
		'h4': ('font-size': 28),
		'h5': ('font-size': 21),
		'h6': ('font-size': 21)
	)
);
$header-color: color(primary);
$header-lineheight: 1.12;
$header-margin-bottom: 0.5rem;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1.6rem;
$small-font-size: .6rem;
//$anchor-color:scale-color(color(primary), $saturation: 10%, $lightness: 10%);
//$anchor-color-hover:lighten($anchor-color, 15);
//$anchor-text-decoration:none;
//$hr-border: 1px solid theme-color(hr-border);
$list-side-margin: $paragraph-margin-bottom * 1.5;
$blockquote-border: 2px solid color('primary');
$blockquote-color: scale-color(color('primary'), $lightness: -20%);
$blockquote-padding: $paragraph-margin-bottom;

// 5. Typography Helpers
// ---------------------

$cite-font-size: rem-calc(16);
//$cite-color: $body-font-color;

// 7. Accordion
// ------------

$accordion-title-font-size: 1.1rem;
//$accordion-item-color: $anchor-color;
$accordion-item-background-hover: color('white');
//$accordion-content-border: 0px;
//$accordion-background: #eee;
//$accordion-content-border: 1px solid color('white');

// 8. Accordion Menu
// -----------------

//$accordionmenu-arrow-color: color('white');

// 11. Button
// ----------
//$button-radius: $global-radius;
//$button-background: colors('blue');
//$button-padding: 1.1em .9em;
$button-hollow-border-width: 3px;
$button-background-hover-lightness: -8%;
$button-hollow-hover-lightness: -8%;

// 12. Button Group
// ----------------
$buttongroup-spacing: 4px;

// 13. Callout
// -----------
$callout-background: color('primary');
$callout-background-fade: 93%;
$callout-border: 4px solid color('primary');
$callout-radius: 0px;
$callout-padding: $paragraph-margin-bottom;
$callout-margin: 0 0 $paragraph-margin-bottom 0;

// 25. Off-canvas
// --------------

//$offcanvas-vertical-size: 120px;
$offcanvas-background: color('white');
//$offcanvas-shadow:none;
//$offcanvas-exit-background: rgba(color('white'), 0.25);

// 27. Pagination
// --------------

$pagination-mobile-items: true;

// 46. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: $paragraph-margin-bottom;

// 50. Table
// ---------

$table-head-background: transparent;
$table-border: none;
$table-is-striped: false;
//$table-stripe: odd;
//$table-striped-background: transparentize(#ccc, .85);
//$table-head-font-color: #fff;

// 52. Thumbnail
// -------------

$thumbnail-border: 8px solid color('white');
//$thumbnail-radius: 0px;
$thumbnail-shadow-hover: 0 0 6px 1px rgba(#000, 0.5);

/* Import the Foundation Framework */
@import '~foundation-sites/scss/foundation';

// Uncomment to include everything - the kitchen sink!
//@include foundation-everything;

// Or Import only the pieces of the Foundation framework that I will be using.
// See all available components at: node_modules/foundation-sites/scss/foundation.scss

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-xy-grid-classes;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
//@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;
// Basic components
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-callout;
//@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
//@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
//@include foundation-orbit;
@include foundation-responsive-embed;
//@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
//@include foundation-menu-icon;
@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
//@include foundation-title-bar;
//@include foundation-top-bar;

// Helpers
@include foundation-flex-classes;
@include foundation-visibility-classes;


/*
|--------------------------------------------------------------------------
| Zurb Foundation Motion UI
|--------------------------------------------------------------------------|
|
*/
//@import 'motion-ui';
//@include motion-ui-transitions;
//@include motion-ui-animations;


/*
|--------------------------------------------------------------------------
| Global Styles
|--------------------------------------------------------------------------
|
*/

/* Icons */
svg{
	fill: currentColor;
}
.icon{
	display: inline-block;
	height: 1em;
	width: 1em;
}


/*
|--------------------------------------------------------------------------
| 3rd Party Plugins
|--------------------------------------------------------------------------
|
*/

/* purgecss start ignore */
// @import '~magnific-popup/src/css/main.scss';
/* purgecss end ignore */


/*
|--------------------------------------------------------------------------
| PostCSS - Tailwind
|--------------------------------------------------------------------------|
|
*/
/* @tailwind base; */
@tailwind components;
@tailwind utilities;
